<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório atendimento</title>

    <!-- JQUERY -->
    <script src="/jquery/jquery-3.6.1.min.js"></script>

    <!-- bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link href="/styles/painel/painelSecretaria.css" rel="stylesheet"/>
</head>
<body>
    <div class="container-fluid background">
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh" hidden>
            <div class="h-100 row w-100 d-flex justify-content-center p-3">
                <div class="h-25 w-50">
                    <div class="d-flex justify-content-center mb-2">
                        <img class="h-50 w-50" title="Logo" src="/img/logo-site.png" alt="Logo" height="150rem">
                    </div>
                    <h3 class="fw-bold text-center" style="color: aliceblue;">RELATÓRIO GERAL DE ANTEDIMENTO </h3>
                <h3 class="fw-bold text-center" style="color: aliceblue;"><%= new Date().
                    toLocaleString('pt-BR', {year: 'numeric', month: '2-digit', day: '2-digit'}).
                    replace(/(\d+)\/(\d+)\/(\d+)/, '$1/$2/$3'); %></h3>
                </div>
                <div class="h-75 chart-container d-flex justify-content-center align-items-center">
                    <canvas id="chart"></canvas>
                </div>
            </div>
        </div>
    </div>
    
    <!-- bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- JS GLOBAL -->
    <script src="/scripts/global.js"></script>

    <!-- GRAFICOS -->
    <script src="/vendor/chartjs/chartjs.js"></script>
    <script src="/vendor/chartjs/chartjs-plugin-datalabels.js"></script>

    <!-- JS DA PAGINA -->
    <script src="/scripts/painel/painelSecretaria.js"></script>
</body>
</html>