.container-fluid {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
    background: #fff;
}

body {
    margin: 0px;
}

div .show #userDeleteModal{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

#btnMeuUsuario, #btnSetores, #btnUbs, #btnUsuarios, #btnVideos, #btnLocals{
    width: 100%;
    color: white
}
